@media only screen and (max-width: 500px) {
	.button {
		width: 100% !important;
	}
}

.conte {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	box-sizing: border-box;
	color: #74787e;
	height: 100%;
	hyphens: auto;
	line-height: 1.4;
	-moz-hyphens: auto;
	-ms-word-break: break-all;
	-webkit-hyphens: auto;
	-webkit-text-size-adjust: none;
	word-break: break-word;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #F2F4F6;
}

.mytable {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	box-sizing: border-box;
	width: 100%;

}

.td1 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #F2F4F6;
	border-top: 5px solid #1262A8;

}

p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	box-sizing: border-box;
	text-align: left;
	margin-top: 0;
	color: #74787E;
	font-size: 16px;
	line-height: 1.5em;
}